{
  "presets": [
    [
      "@babel/preset-env",
      {
        // esmodules targets allows for loading regenerator-runtime module.
        "targets": {
          "esmodules": true
        },
        // enables core-js to support polyfill features.
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from"
  ]
}
